<html>

<head>
    <link rel="stylesheet" href="./main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Calendar</title>
</head>

<body>
    <div class="previewcontainer">
    <header>
        <img src="./logo1.png" alt="Logo" class="logo" srcset="">
        <div class="globallinkwrapper">
            <a href="#" class="globallink " v-bind:class="{isActive:dashseen }">
                <div class="homelink">
                    <p>DashBoard</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Курсы</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Форум</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Расписание</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Личный кабинет</p>
                </div>
            </a>
        </div>
    </header>

    <main id="dashboard">
        
        <div class="greeting">
            <p class="username">Привет {{ username }}</p>
            <p class="">Добро пожаловать</p>
        </div>
        <div class="todaylectures">
            <div class="currentdate">
                <p>Лекции на {{`${activeday[0]}.${activeday[1]}.${activeday[2]}`}}  </p>
            </div>
            <div class="lectures" v-if="todaylectures.length!=0">
                <div class="lecture" v-for="lecture in todaylectures" v-bind:key="lecture.id">
                    <p class="lecturetitle">{{lecture.title}}</p>
                    <p class="lecturetime">{{lecture.start}}-{{lecture.end}}</p>
                    <p class="hidendescription">{{lecture.description}}</p>
                </div>
            </div>
            <div v-else class="nolectures">
                На {{`${activeday[0]}.${activeday[1]}.${activeday[2]}`}} лекций у вас нету
                <img src="./cat.png" alt="плачуший кот">
            </div>
        </div>
        <div class="courses">
            <p>Мои курсы</p>
            <div v-for="course in courses" class="course" v-bind:key="course.courseId" v-bind:title="course.coursedescription">
                {{course.coursename}}
            </div>
        </div>
        <div class="calendar">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <button v-on:click="decrease" class="calendarbutton">  
                                <   </button>
                        </td>
                        <td colspan="5" class="month"> {{ rusmonth[month] }} {{ year }}</td>
                        <td>
                            <button v-on:click="increase" class="calendarbutton">  >  </button>
                        </td>
                    </tr>
                    <tr>
                        <td v-for="d in day">{{d}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="week in calendar()">
                        <td v-for="(day, index) in week"  class="column" v-bind:class="{today:day.today,haslecture:day.haslectures}" v-on:click="refreshlectures(day.index, month+1, year)"> {{ day.index }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            
        </div>
    </main>
    <script src="./main.js"></script>
    </div>
</body>

</html>