<html>

<head>
    <link rel="stylesheet" href="./main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <title>Calendar</title>
</head>

<body>
    <header>
        <img src="./test_logo.svg" alt="Logo" class="logo" srcset="">
        <div class="globallinkwrapper">
            <a href="#" class="globallink" v-bind:class="{isActive:dashseen }">
                <div class="globallinkcontainer">
                    <p>DashBoard</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Курсы</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Форум</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Расписание</p>
                </div>
            </a>
            <a href="#" class="globallink">
                <div class="globallinkcontainer">
                    <p>Личный кабинет</p>
                </div>
            </a>
        </div>
    </header>

    <main id="dashboard">
        <div class="calendar">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <button v-on:click="decrease" class="calendarbutton">
                                < </button>
                        </td>
                        <td colspan="5"> {{ rusmonth[month] }} {{ year }}</td>
                        <td>
                            <button v-on:click="increase" class="calendarbutton">></button>
                        </td>
                    </tr>
                    <tr>
                        <td v-for="d in day" class="column">{{d}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="week in calendar()">
                        <td v-for="(day, index) in week"  class="column" v-bind:class="{today:day.today,haslecture:day.haslectures}" v-on:click="refreshlectures(day.index, month+1, year)"> {{ day.index }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="greeting">
            <p class="username">Привет {{ username }}</p>
            <p class="">Добро пожаловать</p>
        </div>
        <div class="todaylectures">
            <div class="currentdate">
                <p>Сегодня {{ activeday[0] }} {{rusmonth[activeday[1]-1]}}  </p>
            </div>
            <div class="lectures" v-if="todaylectures.length!=0">
                <div class="lecture" v-for="lecture in todaylectures" v-bind:key="lecture.id">
                    <p>{{lecture.title}}</p>
                    <div class="hidendescription">{{lecture.description}}</div>
                    <p>{{lecture.start}}-{{lecture.end}}</p>
                </div>
            </div>
            <div v-else="">
                nothing to do    {{activeday}}
            </div>
        </div>
    </main>
    <script src="./main.js"></script>
</body>

</html>