*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a{
    color: black;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #04974e;
    opacity: 1;
    animation-duration: 1.5s;
    animation-name: slidein;
}
main{
    background-color: rgb(240, 255, 253);
    width: 100%;
    height: 100%;
    opacity: 1;
    animation-duration: 1.5s;
    animation-name: slidein;
}
.previewcontainer{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #04974e;
}

.logo{
    position: relative;
    left: 9%;
    margin-right: 7%;
    height: 70px;
    animation-duration: 1s;
    animation-name: logostart;
}
@keyframes logostart {
    from{
        position: relative;
        left: 40%;
        top: 60%;
        height: 400px;
    }to{
        position: relative;
        left: 9%;
        margin-right: 7%;
        height: 70px;
    }
}
@keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.globallinkwrapper{
    display: flex;
}
.globallinkcontainer{
    opacity: 0.8;
    font-size: 19px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left:10px;
    padding-right: 10px;
    height: 19px;
    background-color: #04974e;
    border-radius: 8px;
    text-align: center;
    user-select: none;
}
.globallinkcontainer:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.homelink{
    opacity: 1;
    font-size: 19px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left:10px;
    padding-right: 10px;
    height: 19px;
    background-color: #0abf9b;
    border-radius: 8px;
    text-align: center;
    user-select: none;
}
.homelink:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
/*/ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.calendar{
    background-color: #fff;
    padding: 10px;
    position: absolute;
    left: 70%;
    width: 18%;
    top: 22%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.calendarbutton{
    max-width: 100%;
    min-width: 100%;
}
.column{
    cursor: pointer;
    max-width: 15%;
    min-width: 15%;
}
.table{
    min-width: 100%;
}
.today{
    color: black;
    background-color: #0abf9b;
}
.haslecture{
    border: 1px solid black;
}
/*////////////////////////////////////////////////////////////////////////////*/

.greeting{
    position: absolute;
    width: 20%;
    left: 9%;
    top: 15%;
    font-size: 20px;

}
.username{
    font-size: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.todaylectures{
    position: absolute;
    padding: 15px;
    width: 57%;
    left: 9%;
    top: 22%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    height: auto;
}
.currentdate{
    font-size: 40px;
    font-weight: 700;
}
.lecture{
    padding: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 98%;
    overflow-y: hidden;
    font-size: 25px;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    border-radius:8px ;
    height: 100px;
}


.hidendescription{
    font-weight: 300;
    font-size: 18px;
    word-wrap: break-word;
    margin-left: 30%;
    margin-bottom: 100%;
    display: block;
}
.lecturetitle{
    font-weight: 500;
    font-size: 20px;
    word-wrap: break-word;
    max-width: 27%;
    position: absolute;
}
.lecturetime{
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    margin-top: 8%;
}
.nolectures img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}
@media screen and (max-width: 1300px) {
    .lecture{
        height: 150px;
    }
    .lecturetime{
        margin-top: 18%;
    }
}
@media screen and (max-width: 900px) {
    .calendar{
        display: none;
    }
    .todaylectures{
        width: 82%;
    }
    .lecturetime{
        margin-top: 18%;
    }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
