*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a{
    color: black;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #04974e;
}
main{
    background-color: rgb(240, 255, 253);
    width: 100%;
    height: 100%;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.logo{
    margin-left: 7%;
    margin-right: 7%;
    height: 70px;
}
.globallinkwrapper{
    display: flex;
}
.globallinkcontainer{
    opacity: 0.8;
    font-size: 19px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left:10px;
    padding-right: 10px;
    height: 19px;
    background-color: #04974e;
    border-radius: 8px;
    text-align: center;
    user-select: none;
}
.globallinkcontainer:hover{
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

/*/ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.calendar{
    background-color: #fff;
    padding: 10px;
    position: absolute;
    left: 70%;
    width: 18%;
    top: 22%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.calendarbutton{
    max-width: 50%;
    min-width: 50%;
}
.column{
    max-width: 15%;
    min-width: 15%;
}
.table{
    min-width: 100%;
}
.today{
    color: aqua;
}
.haslecture{
    border: 1px solid black;
}
/*////////////////////////////////////////////////////////////////////////////*/

.greeting{
    position: absolute;
    width: 20%;
    left: 9%;
    top: 15%;
    font-size: 20px;

}
.username{
    font-size: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.todaylectures{
    position: absolute;
    padding: 15px;
    width: 57%;
    left: 9%;
    top: 22%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    height: auto;
}
.currentdate{
    font-size: 40px;
    font-weight: 400;
}
.lecture{
    padding: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 98%;
    overflow-y: hidden;
    font-size: 25px;
    border: 1px solid black;
    border-radius:8px ;
    height: 100px;
}
.lecture:hover .hidendescription { display: block;}
.lecture:hover .lecturetime { position: absolute;}

.hidendescription{
    font-size: 18px;
    word-wrap: break-word;
    margin-left: 30%;
    margin-bottom: 100%;
    display: none;
}
.lecturetitle{
    position: absolute;
}
.lecturetime{
    margin-top: 3%;
}
.nolectures img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
}